.tab-text {
  font-family: 'Lato', sans-serif;
  color: white;
}

.header-text {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 24px;
}

.home {
}

.home-links {
  background-color: rgb(247, 248, 250);
}

.carousel {
  background: black;
}

.footer {
  background: #2b945e;
  color: white;
}

.footer-list {
  list-style-type: none;
}

.drinks-preview  {
  background: #fff;
  padding: none;
}

.what-is-tastea {
  background: url('./home-bg.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}
